@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8FAF9;
  --foreground: #0f172a;
  --font-outfit: 'Outfit', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-outfit), Arial, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input,
  textarea,
  select {
    color: #111827;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-text-fill-color: #111827;
    transition: background-color 9999s ease-in-out 0s;
  }
}
